<mat-toolbar color="primary" class="top-nav">
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <span id="logo-name">TMDB</span> -->
                <a class="href-tag" [routerLink] = "['/trending']"><button mat-button>TMDB</button></a>
                <a class="href-tag" [routerLink] = "['/upcoming']"><button mat-button>Upcoming</button></a>
                
        <span id="search-parent">

        <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()">

                        <mat-form-field>
                                <input matInput formControlName="searchInput" id="input">
                        </mat-form-field>
                        <button mat-button id="search_button">    
                                <mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon>
                        </button>

        </form>

        </span>
        <button mat-button >
                <mat-icon aria-hidden="false" aria-label="Example face icon">face</mat-icon>
        </button>
</mat-toolbar>
<router-outlet></router-outlet>
<!--             
<div id="contents">
<ul class="list" *ngFor="let movie of movieTrending.results">
        <app-movie-card></app-movie-card>
</ul>
    
</div> -->